html {
  font-size: 16px;  
}

body {
    font-family: "Caveat", cursive;
}

a {
    text-decoration: none;
    color: inherit;
}

strong {
    font-weight: bold;
}



.image-container {
    overflow: hidden;
}
  
.image-container img {
    display: block;
    width: 50px;
    height: 50px;
}

h1 {
    padding-top: 5rem;
    padding-bottom: 1.25rem;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 10rem;
  
}

/* Header */

header {
    display: flex;
    align-items: center;
    padding: .3rem 3.75rem;
    background-color: #7B68EE;
}
  
header .logo-small {
    display: inline;
}
 
nav li {
    display: inline;
    padding-right: 2rem;
}
  
nav li:last-child {
    padding-right: 0;
}
  
  /* Banner */

#banner {
    position: relative;
    height: 43.75rem;
    padding: 0 25%;
    background: url("logo-grande.png") center center no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 30px;
}

#banner:before { /* Orange Overlay */
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
}

#banner * {
    position: relative; /* Makes elements display above overlay. */
}
  