html {
  font-size: 16px;  
}

body {
    font-family: "Caveat", cursive;
}

a {
    text-decoration: none;
    color: inherit;
}

strong {
    font-weight: bold;
}

.image-container {
    overflow: hidden;
}
  
.image-container img {
    display: block;
    max-width: 100%;
}

@media only screen and (max-width: 990px) {
    html {
      font-size: 14px;
    }
}

h1 {
    padding-top: 10.4375rem;
    padding-bottom: 1.25rem;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 8rem;
  
}

/* Header */

header {
    display: flex;
    align-items: center;
    padding: .5rem 3.75rem;
    background-color: orange;
}
  
header .logo-small {
    display: none;
}
  
header .logo-small {
    flex-grow: 1;
}
  
nav li {
    display: inline;
    padding-right: 2rem;
}
  
nav li:last-child {
    padding-right: 0;
}
  
@media only screen and (max-width: 990px) {
    header .logo-big {
      display: none;
    }
  
    header .logo-small {
      display: block;
    }
  }
  
  @media only screen and (max-width: 540px) {
    header {
      flex-direction: column;
      padding-left: 0;
      padding-right: 0;
    }
  
    header .logo-small {
      margin-bottom: 1rem;
    }
  }

  /* Banner */

#banner {
    position: relative;
    height: 43.75rem;
    padding: 0 25%;
    background: url("/img/logo-grande.png") center center no-repeat;
    background-size: cover;
    text-align: center;
}

#banner:before { /* Orange Overlay */
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
}

#banner * {
    position: relative; /* Makes elements display above overlay. */
}
  