html {
  font-size: 16px;  
}

body {
    font-family: "Caveat", cursive;
}

a {
    text-decoration: none;
    color: inherit;
}

strong {
    font-weight: bold;
}

.image-container {
    overflow: hidden;
}
  
.image-container img {
    display: block;
    width: 50px;
    height: 50px;
    padding-left: 10rem;
}

h1 {
    padding-top: 5rem;
    padding-bottom: 1.25rem;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 10rem;
  
}

/* Header */

header {
    display: flex;
    align-items: center;
    padding: .3rem 3.75rem;
    background-color: #7B68EE;
}
  
header .logo-small {
    display: inline;
}
 
header .logo-small {
  flex-grow: 1;
}

nav li {
    display: inline;
    padding-right: 10rem;
    font-size: 2rem;
}
  
nav li:last-child {
    padding-right: 30rem;
}
  
  /* Banner */

#banner {
    position: relative;
    height: 35rem;
    padding: 0 25%;
    background: url("logo-grande.png") bottom center no-repeat;
    background-size: cover;
    text-align: center;
}

#banner:before { /* Orange Overlay */
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
}

#banner * {
    position: relative; /* Makes elements display above overlay. */
}

#banner p {
    color: white;
    line-height: 1.5;
    font-size: 2rem;
}